<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodmax">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodMax1">
        <activity android:name=".db.MainActivity"></activity>
        <activity android:name=".Payments.Card" />
        <activity android:name=".Payments.Cash_on" />
        <activity android:name=".Payments.Payment_method" />
        <activity android:name=".MainAdapter" />
        <activity android:name=".food_details" />
        <activity android:name=".CustomerDetails" />
        <activity android:name=".Restaurant_food_details.pizza" />
        <activity android:name=".Restaurant_food_details.kfc" />
        <activity android:name=".Restaurant_food_details.MenuActivity" />
        <activity android:name=".One_time_password.Manageotp" />
        <activity android:name=".One_time_password.Dashboard" />
        <activity android:name=".One_time_password.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>